/* font-size mặc định là 16px */
/*  thay đổi font size mặc định thì giá trị "rem" cũng thay đổi theo */
/* rem thay đổi tham chiếu theo kích cỡ mặc định, còn em thay đổi theo kích cỡ của thẻ parent */
/* dùng root để đặt biến */
 :root{ 
    --color-text:rgb(100, 40, 40);
    --color-heading: rgb(34, 124, 49);
    --width: 100px;
 } 

p{
    color: var(--color-text);
}
h2{
    color:var(--color-heading);
}
/* ghi đè biến */
h1{
    --color-heading:rgb(19, 211, 211);
  color: var(--color-heading);
}
.para{
    font-size: 2rem;
}
/* .text{
    font-size: 20px;
} */
.text p{
    font-size: 3em;
}
.box{

    width: calc(--width*8);
    height: calc(--width*4);
    background-color: bisque;
}
.box1{
    width: 50%;
    height: 50%;
    background-color: blueviolet;
}