*{
    padding: 0;
    margin: 0;
    
}

.big-img>img{
    width: 100%;
    height: 618px;
    object-fit: cover;
    
}
.big-img >.content{
    box-sizing: border-box;
    position: relative;
    bottom: 400px;
    width: 383.275px;
    left: 100px;
}
.content>h3{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 34.9106px;
}
.content>p{
    color: white;
}
.link-content>a{
    color: white;   
}

.content>.link-content{
    display: flex;
    margin-top: 20px;
    border: 1px solid white;
    width: 150px;
    height: 52px;
    background-color: none;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    cursor: pointer;
}
.link-content:hover{
    background-color: rgb(216, 176, 15);
    border: none;
    
}
.link-content:hover .link-content>a{
    color: black;
}


.home-product{
    
    position: relative;
    top:-237px;
    background-color: #212020;
    width: 100%;
    height: 1400px;
    border-top: 1px solid #ffffff1a ;
    box-shadow: inset 0 10px 30px -16px #000;
     padding: 60px 0px 50px 0px;
}
.home-product>.heading-product{
    margin-bottom: 30px;
    text-align: center !important;
}
.heading-product>h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    padding: 20px 0;
}
.heading-product>p{
    font-family: "Montserrat", sans-serif;
    color: aliceblue;
    font-size: 17px;
}
.home-product>.show-product{
    max-width: 930px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.show-product>.img-product1{
    width: 290px;
    height: 362.8px;
}
.show-product>.img-product2{
    width: 290px;
    height: 362.8px;
}
.show-product>.img-product3{
    width: 290px;
    height: 362.8px;
}
.show-product>.img-product1>a>img{
    width: 290px;
    object-fit: cover;
}
.show-product>.img-product2>a>img{
    width: 290px;
    object-fit: cover;
}
.show-product>.img-product3>a>img{
    width: 290px;
    object-fit: cover;
}
.img-product1>a{
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
}
.img-product2>a{
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
}
.img-product3>a{
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    cursor: pointer;
}
.img-product1>.cost{
    font-size: 20px;
    color: rgb(216, 176, 15);
}
.img-product2>.cost{
    font-size: 20px;
    color: rgb(216, 176, 15);
}
.img-product3>.cost{
    font-size: 20px;
    color: rgb(216, 176, 15);
}
.img-product1>.cost>span{
    color: #939393;
    font-size: 14px;
    text-decoration-style: solid;
    text-decoration-color: rgb(147, 147, 147) ;
    text-decoration-line: line-through;
}
.img-product2>.cost>span{
    color: #939393;
    font-size: 14px;
    text-decoration-style: solid;
    text-decoration-color: rgb(147, 147, 147) ;
    text-decoration-line: line-through;
}
.img-product3>.cost>span{
    color: #939393;
    font-size: 14px;
    text-decoration-style: solid;
    text-decoration-color: rgb(147, 147, 147) ;
    text-decoration-line: line-through;
}
.invisible{
    position: relative;
    top: -220px;
    left: 90px;
    opacity: 0; 
    transition: all 0.5s ease-in-out;

}
.img-product1:hover .invisible{
    opacity: 1; 
}
.img-product2:hover .invisible{
    opacity: 1; 
}
.img-product3:hover .invisible{
    opacity: 1; 
}

.invisible>.choose{
    position: absolute;
    width: 105px;
    height: 50px;
    background: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.choose>.clicktcart{
    background-color: #212020;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
}
.choose>.icon-choose2{
    display: flex;
    background-color: #212020;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
}
.choose>.icon-choose2>a{
    color: aliceblue;
}
.img-product1>a>.discount{
    width: 45px;
    height: 20px;
    background-color:rgb(216, 176, 15) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -290px;
    right: -240px;
}
.img-product2>a>.discount{
    width: 45px;
    height: 20px;
    background-color:rgb(216, 176, 15) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -290px;
    right: -240px;
}
.img-product3>a>.discount{
    width: 45px;
    height: 20px;
    background-color:rgb(216, 176, 15) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -290px;
    right: -240px;
}

.home-aboutus>.heading-product1{
    margin-top: 110px;
    margin-bottom: 30px;
    text-align: center !important;
}
.heading-product1>h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    padding: 20px 0;
    color: #000;
}
.home-aboutus>.aboutus{
    position: relative;
    max-width: 930px;
    padding: 0 0 140px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.aboutus>.us1{
    background: #191918;
    padding: 55px 40px;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 460px;
    height: 300px;
}
.aboutus>.us2{
    align-items: center;
    margin-top: 90px;
    width: 445px;
    height: 425px;
    background-color:rgb(216, 176, 15) ;
}
.us1>h3{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: white;
    margin: 0 0 13px;
}
.us1>p{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: white;
    padding: 28px 0;
    line-height: 28px;
}
.us2>.img-us2{
    margin-left: 94px;
    margin-top: 80px;
    width: 445px;
    height: 296.143px;
}
.img-us2>img{
    width: 100%;
}
