*{  
    font-family: 'Roboto', sans-serif ;
    margin: auto;
    width: 349px;
    text-align: center;
    box-sizing: border-box;
}
.card{
    box-shadow: 0 5px 5px rgb(0 0 0 / 15%);
    border-radius: 4px;
    margin-top: 30px;
    overflow: hidden;
}
.card .top{
    border-radius: 4px;
    color: #fff;
    height: 160px;
    background-color: #4db446;
}
.top > h2{
    
    padding-top: 3px;
    height: 24px;
    background-color: #088d2d;
    font-size: 16px;
    font-weight: 400;
}
li{
    text-decoration: none;
}
.top > .dmonth{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 22px;
    position:absolute;  
    text-align: center;
}
.dmonth > .day{
    font-size: 40px;   
}
.dmonth > .month{
    font-size: 16px;
}

.bot > .title{
    text-align: left;
    padding: 16px 16px 0 16px;
    font-size: 20.8px;
    color: #464646;
}
.bot >.time{
    padding-top: 7px;
    padding-bottom: 7px;
}
.time > p{  
    margin-top: 5px;
    text-align: left;   
    padding-left: 16px;
}
p> i{ 
    color: #757575;
    font-size: 0.85rem;  
    box-sizing: border-box;
    text-align: left;      
}
i > .font {
    color: rgb(70, 70, 70);
    font-weight: 400;
}


.bot> .signup{
    
    width: 317px;
    border-top: 0.5px solid #c4c4c4e3;
    text-align: left;
    padding: 7px 0px 5px 
}
.signup > a{
    text-decoration: none;
    color: #3c78e8;

}