*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14.4px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
}
img{
    max-width: 100%;
    display: block;
    margin: 0;
}
ul{
    list-style-type: none;
}
.header{
    padding: 0 30px;
    height: 54px;
    background-color: rgb(52, 70, 92);

    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 100px;
}
.logo{
    display: flex;
    align-items: center;
}
.side-bar{
    display: flex;
    

}

.menu > ul{
    display: flex;
    
}
.menu > ul > li{
    color: #fff;
    margin: 0 16px;
    height: 54px;
    display: flex;
    align-items: center;
    /* line-height: 54px; */
    position: relative; 
    font-size: 14.4px;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
       
}

.sub-menu{
    
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    width: 200px;
    
    position: absolute;
    right: 0;
    top: 100%;

    /* ẩn đi */
    display: none;
}
.menu > ul > li:hover .sub-menu{
    display: block;
}

.sub-menu > li{
    color: black;
    text-align: center;
    padding: 0.7rem 1rem;
}
.sub-menu > li:hover{
    background-color: #c4c4c4;
    color: #fff;
}
.avatar img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.cart-icon{
    width: 40px;
    height: 54px;
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
}
.cart-icon>.number{
    background-color: #26a69a;
    left: 12px;
    top: 10px;
    position: absolute;
    
    border-radius: 4px;
    width: 14.9px;
    height: 16.5px;
    font-size: 75%;
    font-weight: 700;
    text-align: center;   
}
.avatar{
    width: 40px;
    display: flex;
    align-items: center;
}
