*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(4deg 100% 69%);
}
.container{
    position: relative;
    top:50px;
    background-color: hsl(4deg 100% 69%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 600px;
    height: 600px;
    transform: rotate(-45deg);
}
.heart{
    position: absolute;
    background-color: aliceblue;
    width: 200px;   
    height: 100px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 250px;
    animation: heart2 1.5s 2s    ;
}
@keyframes heart2{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }

}

.heart::before{
    content: "";
    background-color: aliceblue;
    width: 100px;   
    height: 200px;
    position: absolute;
    left: -0px;
    top: -100px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    animation: heart 1.5s 2s  infinite  ;
    
}
@keyframes heart{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1);
    }

}
