* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: azure;

    height: 500px;
    display: flex;
    flex-direction: column;
    
    

    color: #757575;

    position: relative;
    
}

a {
    text-decoration: none;
    color: #757575;
}

ul {
    width: 100%;
    list-style-type: none;
}

.header{
    height: 115px;
    background-color: #fff;
    padding-top: 11px;
    display: flex;
    align-items: center;
}
.header>img{
    width: 127px;
    height: 40px;
    left: 20px;
    position: relative;
    cursor: pointer;
}
.header>button{
    position: relative;
    background-color: rgb(245, 114, 36);
    height: 36.4px;
    width: 40px;
    border: 0px;
    left: 60px;
    cursor: pointer;
}
button>i{
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}
.header>input{
    width: 55%;
    height: 35%;
    position: relative;
    left: 100px;
    background-color: rgb(239, 240, 245);
    border-radius: 2px;
    border: 1px none;
    padding-left: 10px;
}
.header>.cart1{
    position: relative;
    left:90px;
    top:3px
    
}
.header>.cart1>i{
    font-size: 1.5rem;
    color: #0f146e;
}
.menu {
    background-color: #fff;
    position: absolute;
    left: 40px;
    width: 200px
}
.imgmenu{
    height: 324px;
    background-color: #04074a;
}
.imgmenu>img{
    width: 988px;
    height: 324px;
    object-fit: initial;
    position: absolute;
    left: 240px;
}
.menu-item {
    width: 200px;
    box-sizing: border-box;
    position: relative;
}
.header>.lastimg>img{
    width: 188px;
    position: relative;
    right: -180px;
    top: 2px;
    cursor: pointer;
}
.menu-item p {
    
    padding-left: 8px;
    padding-right: 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item p .icon {
    display: none;
}

.menu-item:hover > p,
.menu-item:hover > p a {
    color: chocolate;
}

.menu-item:hover > p .icon,
.menu-item:hover > p .icon {
    display: inline-block;
    color: chocolate;
}

.sub-menu {
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    background-color: #fff;
    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
}
.last-menu {
    box-sizing: border-box;
    width: 200px;
    position: relative;
    top: -27px;
    left: 200px;
    background-color: #fff;
    display: none;
    
}
.childitem:hover  .last-menu{
    display: block;
}
.childitem{   
        width: 200px;
        position: relative;
       
}
.childitem p .icon {
    display: none;
}

.childitem:hover > p,
.childitem:hover > p a {
    color: chocolate;
}


.childitem:hover > p .icon {
        display: inline-block;
        color: chocolate;
}
.childitem>p {
    padding-left: 8px;
    padding-right: 8px;
    height: 27px;
    line-height: 27px;
    text-decoration: none;
    font-size: 13px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.childitem{
    height: 27px;
}
.last-item p .icon {
    display: none;
}
.last-item:hover > p,
.last-item:hover > p a {
    color: chocolate;
}
.last-item:hover > p .icon,
.last-item:hover > p .icon {
    display: inline-block;
    color: chocolate;
}

