*{  
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.parent{
    width: 642px;
    height: 648px;
    border: 10px solid rgb(149, 111, 229);
    margin: 60px auto; 
    font-size: 16px;     
}

.parent .card{
    margin: auto;
    margin: 0%;
    width: 542px;
    height: 548px;
    padding: 50px;
    
    justify-content: center;
    position: relative;   
}
.card >.child{
    padding-top: 0px;
}
.card .child h2{   
    margin: 0;
    font-size: 48px;
    font-weight: 100;
}
.child >p{
    box-sizing: border-box;
    display: block;
    line-height: 25.6px;    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-wrap: break-word;
    position: relative;
    margin-bottom: 0%;
    margin-top: 20px;
}
.child > .inform{   
    margin-top: 30px;
}

.inform> form{
    padding: 10px;
}
form > input{
    font-family: 'Open Sans', sans-serif; 
    text-align: left;
    width: 496px;
    height: 25.6px;
    border: 1px solid rgb(179, 179, 179);
    padding: 10px 12px;
    font-size: 16px;
    margin-bottom: 10px;
}
::-webkit-input-placeholder {
    color: rgb(179, 179, 179);   
 }
form > textarea{
    text-align: start;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(179, 179, 179);
    font-family: 'Open Sans', sans-serif;
    padding: 10px 12px;
    font-size: 16px;
    margin-bottom: 10px;
}
form> .semifinal{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(17, 17, 17);
    text-align: left;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: rgb(149, 111, 229);
}
.final>button{
    background-color: rgb(149, 111, 229);
    border: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    width: 112.94px;
    height: 45.6px;
}
button>a{
    color: #ffffff ;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
    
