/* .box{
    width: 200px;
    height: 100px;
 
    background-color: blue;
    /* transition-property: width, height;
    transition-duration: 0.5s, 1s; */
    /* ap dung cho tat ca */
     /* transition-property: all;
    transition-duration: 0.5s; 
    transition-delay: 1s; */
    /* như trên */
    /* transition: all 0.5s;
    
    border: 1px solid black;
    /* border-width: 1px;
    border-style: solid;
    border-color: black; */ 
   /* transition: all 0.5s 1s;
   /* width duration */

/* .box:hover{
    width: 300px;
    height: 200px;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.box{
    width: 400px;
    background-color: #000;
    color: red;
    padding: 20px;
}
/* .box > h2{
    position: relative;
    left: -200px;
    transition: all 0.5s;
    
}
.box:hover h2{
    left:0;
    overflow: hidden;
} */
.box h2{
    transform: translate(-200px);
    transition: all 0.5s;
}
.box:hover h2{
    transform: translateX(0);
}
.box > p {
    position: relative;

    right: -200px;
    transition: all 0.5s;
}
.box:hover p{
    right:0;
}