*{
    text-align: center;
    
    box-sizing: border-box;
    width: 100%;
    
    color: rgb(145, 146, 148);
    font-size: 14px;
    font-weight: 400;   
}
.card{
    background-color: #464646;
    display: flex;
    justify-content:center;
    flex-wrap: no-warp;
    align-items:center;
    
    padding-bottom: 48px;
    
    
}
.part1{
    text-align: left;
    text-align: left;
    
}
.part1 h4{
    text-align: left;
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    
}
.part1 p{ 
    text-align: left;
    display: block;
    font-family: Roboto,sans-serif;       
}
.part1 p a{ 
    display: inline;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(145, 146, 148);
}
.part1 p a:hover{
    text-decoration: underline;
}

.part1 .part2 p {   
   
    padding-left: 15px;
    padding-bottom: 15px;
    height: 50px;
    margin-block-start: 10px;
    box-sizing: border-box;
    color: rgb(145, 146, 148);
    display: flex;
    justify-content: space-evenly;
}
.part1 .part2 p i{
    
    font-size: 2em;
    font-weight: 100;
    
}
.part1> .note{
    align-items:center

}
