/* reset css */
*{
    text-align: center;
    background-color: #464646;
    box-sizing: border-box;
    width: 100%;
    
    color: rgb(145, 146, 148);
    font-size: 14px;
    font-weight: 400;   
}
.card{
    padding-top: 15px;
    padding-bottom: 48px;
    width: 426.4px;
    margin: auto;
}
.part1 h4{
    font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;
}
.part1 p{ 
    display: block;
    font-family: Roboto,sans-serif;       
}
.part1 p a{   
    display: inline;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: rgb(145, 146, 148);
}
.part1 p a:hover{
    text-decoration: underline;
}
.part1 .part2 p {   
    padding-left: 15px;
    padding-bottom: 15px;
    height: 50px;
    margin-block-start: 10px;
    box-sizing: border-box;
    color: rgb(145, 146, 148);
    display: flex;
    justify-content: space-evenly;
}
.part1 .part2 p i{
    font-size: 2em;
    font-weight: 100;
    
}

    

